/* FAQs.css */

.faq-container {
  margin-top: 80px; /* Adds space below the navbar */
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.faq-container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.faq-container p {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
}

.faq-item {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.faq-item h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.faq-item p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}
